/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 nov. 2018, 08:01:33
    Author     : dales
*/
/*
.nav-pills{
    color : orange;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #FF9C00;
}

li a {
   color : #FF9C00; 
}

h1, h2 {
    color : #FF9C00;
}

panel-heading-primary panel-title{
    background-color: #FF9C00;
}*/
